.kotlin
**/build/
xcuserdata
!src/**/build/
captures
.externalNativeBuild
.cxx


# Kotlin
*.class
*.jar
*.war
*.ear
*.iml
*.hprof

# Gradle
.gradle/
!gradle/wrapper/gradle-wrapper.jar

# Android
*.apk
*.ap_
*.dex
*.so

# iOS
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

# macOS
.DS_Store

# IntelliJ IDEA
.idea/
*.iws
*.ipr

# Local configuration files
local.properties